body{
    margin: 0;
}
*{
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(39, 38, 38);
    padding: 3rem;
}
main > .box{
    width: 100%;
    padding: 0 4rem;
    background: rgb(185, 121, 121);
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main > .box:nth-child(1){
    height: 20vh;
}
main > .box:nth-child(2){
    height: 40vh;
    align-items: center;
}
main > .box > .innerTopBox{
    width: 200px;
    height: 80%;
    background: #000;
    max-width: 80%;
}
main > .box > .innerBox{
    width: 200px;
    height: 200px;
    background: #000;
    max-width: 80%;
}

@media screen and (max-width:1000px) {
    main > .box{
        flex-direction: column;
    }
    main > .box:nth-child(2){
        min-height: 80vh;
        padding: 2rem 0;
        height: inherit;
    }
    main > .box:nth-child(1){
        justify-content: center;
        padding: 1rem 0;
    }
    main > .box > .innerBox{
        margin: 2rem 0;
        height: 200px;
        width:150px;
    }
    main > .box > .innerTopBox{
        width:150px;
    }
}